---
sidebar_position: 5
---

# Viewing Test Reports

To view a test report:

1. **View** the suite.
2. **View** the desired suit execution.
3. Expand the job containing the test.
4. Click the test’s **View Report** button.
    
    ![](/Images/JSS/JssViewTestReport1.png)
    
    The test’s `log.html` report is displayed, listing the test’s result, execution details and duration.
    
    ![](/Images/JSS/JssViewTestReport2.png)